RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^185\.147\.9\.118$
RewriteRule ^(.*)$ http://geeler.net/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]
