@import url("https://fonts.googleapis.com/css2?family=Alata&family=Concert+One&family=Russo+One&display=swap");
/**
 * Big Titles - Russo One
 * Important Text - Concert One
 * Text - Alata
 */
html, body {
  margin: 0;
  padding: 0;
}

a {
  font-family: Concert One;
  text-decoration: none;
}

nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 10vh;
  max-height: 80px;
  background-color: transparent;
}

nav.navbar span.logo {
  color: white;
  font-family: Russo One;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

nav.navbar ul {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav.navbar ul a {
  color: white;
}

nav.navbar ul ~ .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav.navbar ul ~ .group a {
  background: white;
  color: black;
  mix-blend-mode: screen;
}

nav.navbar ul ~ .group a li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
}

.home {
  position: relative;
}

.home .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  min-height: 800px;
  max-height: 1100px;
}

.home .wrapper .text_left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 3vw;
}

.home .wrapper .text_left h1, .home .wrapper .text_left h2 {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.home .wrapper .text_left h1 {
  font-family: Russo One;
}

.home .wrapper .text_left h2 {
  font-family: Alata;
}

.home img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  min-height: 100%;
  width: auto;
  min-width: 100%;
}

@media only screen and (max-width: 1000px) {
  nav.navbar span.logo {
    font-size: 2rem;
    margin-left: 2vw;
  }
  nav.navbar ul {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: none;
  }
  nav.navbar ul a {
    font-size: 1.1rem;
  }
  nav.navbar ul ~ .group {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  nav.navbar ul ~ .group a {
    padding: 10px 15px;
    border-radius: .5em;
    font-size: 1.1rem;
    margin-right: 1vw;
  }
  nav.navbar ul ~ .group .navigation-dropdown {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 1.4rem;
    margin-left: 2rem;
    background-image: url("menu.png");
    -webkit-filter: invert(1);
            filter: invert(1);
    background-position: center;
    background-size: cover;
  }
  nav.navbar ul ~ .group .navigation-dropdown:hover a {
    display: block;
  }
  nav.navbar ul ~ .group .navigation-dropdown a {
    display: none;
    background-color: transparent;
  }
  .home .wrapper .text_left h1 {
    font-size: 3.5rem;
  }
  .home .wrapper .text_left h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1000px) {
  nav.navbar span.logo {
    font-size: 3vw;
    margin-left: 1vw;
  }
  nav.navbar ul {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  nav.navbar ul a {
    font-size: 1.8vw;
  }
  nav.navbar ul ~ .group {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  nav.navbar ul ~ .group a {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10px 15px;
    border-radius: .5em;
    font-size: 1.3vw;
    margin-right: 1vw;
  }
  nav.navbar ul ~ .group .navigation-dropdown {
    display: none;
  }
  .home .wrapper .text_left h1 {
    font-size: 5vw;
  }
  .home .wrapper .text_left h2 {
    font-size: 1.7vw;
  }
}
/*# sourceMappingURL=style.css.map */