@import url('https://fonts.googleapis.com/css2?family=Alata&family=Concert+One&family=Russo+One&display=swap');

/**
 * Big Titles - Russo One
 * Important Text - Concert One
 * Text - Alata
 */

html, body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a{
  font-family: Concert One;
  text-decoration: none;
}
//Scrollbar
::-webkit-scrollbar{
  width: 10px;
  box-shadow: inset 0 0 5px black;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background: #0e376d;
  border-radius: .5em;

  &::after{
    content: '';
    width: 80%;
    height: 5px;
    background-color: white;
  }
}
::-webkit-scrollbar-thumb:hover {
  background: #0b2c57;
}
nav.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 70px;
  height: 10vh;
  max-height: 90px;
  background-color: transparent;

  span.logo{
    color: white;
    font-family: Russo One;
    order: 1;
  }
  ul{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

    h4{
      display: none;
      position: absolute;
      left: 15px;
      top: -5px;
      font-size: 1.5rem;
      font-family: Concert One;
      color: #144A8F;
    }
    & > a{
      color: white;
      margin: 0 15px;
    }
  }
  ul ~ a{ /*Login*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    mix-blend-mode: screen;

    li{
      width: fit-content;
      height: fit-content;
      display: block;
    }
  }
  .align_end{
    display: none;
  }
}
.home{
  position: relative;
  z-index: 2;
  padding: 0 0 20vh;

  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    min-height: 800px;
    max-height: 1100px;

    .text_left{
      width: fit-content;
      margin-left: 3vw;

      h1, h2{
        color: white;
        width: fit-content;
        margin: 0;
        padding: 0;
      }
      h1{
        font-family: Russo One;
      }
      h2{
        font-family: Alata;
      }
    }
    .chevronscroll{
      position: relative;
      width: 60px;
      height: 230px;
      margin-right: 3vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;

      .chevron{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 60px;

        &:nth-child(1)::after{
          animation: chevron 4s backwards infinite ease-in-out;
        }
        &:nth-child(2)::after{
          animation: chevron 4s .5s backwards infinite ease-in-out;
        }
        &:nth-child(3)::after{
          animation: chevron 4s 1s backwards infinite ease-in-out;
        }
        &:nth-child(4)::after{
          animation: chevron 4s 1.5s backwards infinite ease-in-out;
        }
        &:nth-child(5)::after{
          animation: chevron 4s 2s backwards infinite ease-in-out;
        }
        &:nth-child(6)::after{
          animation: chevron 4s 2.5s backwards infinite ease-in-out;
        }

        &::after{
          display: block;
          content: '';
          background-color: white;
          clip-path: polygon(0 0, 30% 0, 50% 30%, 70% 0, 100% 0, 50% 70%);
          height: 60px;
          width: 60px;
        }
      }
    }
  }
  img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    min-height: 100%;
    width: auto;
    min-width: 100%;
  }
}
.home::after{
  content: '';
  display: block;
  height: 20vh;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  clip-path: polygon(-1% 30%, 102% 101%, 0 101%);
  z-index: 3;
}
.about{
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 1;

  & > h1{
    color: #2A66AA;
    font-family: Russo One;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  div.section{
    height: fit-content;
    margin: 0 0 150px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;

    .center{
      grid-column: 1 / 5;
      grid-row: 1 / 2;

      .img{
        background-position: center;
        background-size: cover;
        border-radius: 2em;
        height: 440px;
        width: 280px;
        transition: transform .5s, height .5s, width .5s;
      }
    }
    .text{
      width: fit-content;
      grid-column: 5 / 9;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;

      h1{
        font-family: Concert One;
        width: fit-content;
        font-size: 2rem;
        color: #144A8F;
        float: left;
        margin: 0 0 10px;
      }
      p{
        width: fit-content;
        margin: 0 auto;
        font-family: Alata;
        color: #144A8F;
        float: left;
      }
    }
  }
  div.section#general{
    .center .img{
      background-image: url("media/pictures/portrait.jpg");
    }
  }
  div.section#hobby .center .img, div.section#motivation .center .img{
    height: 280px;
    width: 440px;
  }
  div.section#hobby{
    .center{
      grid-column: 6 / 10;

      .img{
        background-image: url("media/pictures/setup.jpg");
      }
    }
    .text{
      grid-column: 2 / 6;
    }
  }
  div.section#motivation{
    .center{
      grid-column: 1 / 5;

      .img{
        background-image: url("media/pictures/code.jpg");
      }
    }
    .text{
      grid-column: 5 / 10;
    }
  }
  div#whyme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px;

    .text{
      width: 50%;

      h1{
        font-family: Concert One;
        width: fit-content;
        font-size: 2rem;
        color: #144A8F;
        float: left;
        margin: 0 0 10px;
      }
      p{
        width: fit-content;
        margin: 0 auto;
        font-family: Alata;
        color: #144A8F;
        float: left;
      }
    }
    .text{
      grid-column: 4 / 8;
    }
  }
}
.projects::before{
  content: '';
  display: block;
  height: 20vh;
  width: 100%;
  background-color: #144A8F;
  position: absolute;
  top: 0;
  transform: translateY(0.5px);
  clip-path: polygon(-1% 101%, 101% 101%, 101% -1%);
}
.projects{
  padding: 20vh 0;
  position: relative;
  height: fit-content;
  overflow: hidden;

  .contents{
    height: fit-content;
    width: 100%;
    background-color: #144A8F;

    h1{
      font-size: 4rem;
      width: 100%;
      text-align: center;
      margin: 0 0 50px;
      color: white;
      font-family: Russo One;
    }

    .grid{
      margin-top: 30px;
      height: fit-content;
      width: 100%;
      display: grid;
      grid-template-columns: 5% 40% 10% 40% 5%;
      grid-template-rows: 1fr 35px 1fr;
      padding-bottom: 50px;

      .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:nth-child(2n+1){ //every first element in row
          grid-column: 2 / 3;
        }
        &:nth-child(2n+0){ //every second element in row
          grid-column: 4 / 5;
        }
        &:nth-child(3){
          grid-row: 3 / 4;
        }
        &:nth-child(4){
          grid-row: 3 / 4;
        }
        .project{
          position: relative;
          background-color: white;
          border-radius: .5em;
          padding: 15px;
          height: 250px;
          width: 400px;
          transition: transform .5s;

          &:hover{
            transform: scale(1.05);
          }
          .overlay{
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: .5em;
            overflow: hidden;

            &:hover .foot{
              transform: translateY(0%);
            }
            .foot{
              position: absolute;
              width: 100%;
              height: 40px;
              background-color: white;
              bottom: 0;
              right: 0;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              transform: translateY(101%);
              transition: transform .5s;

              a{
                margin-right: 15px;
                color: #144A8F;
                font-weight: 1000;
              }
            }
            &:hover::before{
              transform: translateY(0%);
            }
            &::before{
              content: '';
              position: absolute;
              transform: translateY(101%);
              transition: transform .5s;
              height: 105%;
              width: 105%;
              background-position: center;
              background-size: cover;
            }
          }
          .header{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h3{
              width: fit-content;
              margin: 0;
              font-size: 2rem;
              font-family: Concert One;
              color: #144A8F;
              margin-right: 15px;
            }
            .tags{
              span::after{
                font-family: Alata;
                font-size: 0.7rem;
                padding: 3px 7px;
                border-radius: .5em;
                margin-right: 5px;
                color: white;
              }
              #html::after{
                content: 'HTML';
                background-color: #DD4B25;
              }
              #css::after{
                content: 'CSS';
                background-color: #254BDD;
              }
              #php::after{
                content: 'PHP';
                background-color: #787CB4;
              }
              #docker::after{
                content: 'Docker';
                background-color: #0098D4;
              }
            }
          }
          p{
            margin: 0;
            font-family: Alata;
            color: #144A8F;
          }
          .type{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 30px;
            width: calc(100% - 20px);
            position: absolute;
            bottom: 10px;
            left: 10px;

            div::after{
              display: block;
              font-family: Alata;
              font-size: 0.7rem;
              padding: 3px 7px;
              border-radius: .5em;
              margin-right: 5px;
              color: white;
            }
            #unfinished::after{
              content: 'Unfinished';
              background-color: #dd2c00;
            }
            #inprogress::after{
              content: 'Work in progress';
              background-color: #40cf53;
            }
            #teamwork::after{
              content: 'Teamwork';
              background-color: #7647ce;
            }
            #opensource::after{
              content: 'Open-Source';
              background-color: #d6be51;
            }
            #private::after{
              content: 'Private';
              background-color: #d35fac;
            }
            #copyright::after{
              content: 'Copyright';
              background-color: #000000;
            }
          }
        }
      }
    }
  }
}
.projects::after{
  content: '';
  display: block;
  height: 20vh;
  width: 100%;
  background-color: #144A8F;
  position: absolute;
  bottom: 0;
  transform: translateY(-0.5px);
  clip-path: polygon(0 -1%, 103% -1%, -1% 101%);
}
.contact{
  h1{
    font-family: Russo One;
    font-size: 4rem;
    color: #144A8F;
    width: 100%;
    text-align: center;
  }
  h3{
    font-family: Concert One;
    font-size: 1.6rem;
    color: #144A8F;
    margin: 0;
  }
  a{
    font-family: Alata;
    font-size: 1.3rem;
    color: #144A8F !important;
  }
  .details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;

    .detail{
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }
  }
  .message{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0 30px;

    .wrapper{
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      width: 80%;

      h3, p{
        font-family: Alata;
        font-size: 1.3rem;
        color: #DD4B25 !important;
      }
      h3{
        font-family: Concert One;
        font-size: 1.3rem;
        color: #144A8F;
        margin: 0 30px 0 0;
      }
      .exclamation{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
      }
      p{
        margin: 0;
        width: 90%;
      }
    }
  }
  .wrapper#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 50px;

    h3{
      margin-top: 50px;
    }
    .form{
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      input[type="text"], textarea{
        width: calc(100% - 6px);
        padding: 5px 0 5px 4px;
        height: 30px;
        border: #144A8F 2px solid;
        font-family: Alata;
        color: #144A8F;
        border-radius: .5em;
        outline: none;

        &#message{
          height: 40vh;
          resize: vertical;
        }
      }
      div{
        margin: 20px 0 0;
        width: 100%;
      }
      label{
        font-family: Alata;
        color: #144A8F;
        font-size: 1rem;

        a{
          text-decoration: underline;
          font-size: 1em;

          &:active, &:visited{
            color: #144A8F;
          }
        }
      }
      #submit{
        padding: 5px 15px;
        border-radius: .5em;
        background-color: #144A8F;
        color: white;
        cursor: pointer;
      }
      #submitbtn{
        display: none;
      }
    }
  }
}
.donate::before{
  content: '';
  display: block;
  height: 20vh;
  width: 100%;
  background-color: #144A8F;
  position: absolute;
  top: 0;
  transform: translateY(0.5px);
  clip-path: polygon(-1% 101%, 101% 101%, 101% -1%);
}
.donate{
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 20vh 0;

  .contents{
    width: 100%;
    background-color: #144A8F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 0 25px;

    h1{
      font-size: 3rem;
      width: 85%;
      text-align: center;
      margin: 50px 0 50px;
      color: white;
      font-family: Russo One;
    }
    h4{
      font-family: Concert One;
      font-size: 2rem;
      color: white;
      margin: 3vh 0;
    }
    .buymeacoffee{
      min-width: 200px;
      max-width: 240px;
      width: 20vw;
      height: 9vh;
      max-height: 70px;
      background-image: url("media/pictures/buymeacoffee.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: .5em;
    }
  }
}
.donate::after{
  content: '';
  display: block;
  height: 20vh;
  width: 100%;
  background-color: #144A8F;
  position: absolute;
  bottom: 0;
  transform: translateY(-0.5px);
  clip-path: polygon(0 -1%, 103% -1%, -1% 101%);
}
div.footer{
  position: relative;
  width: auto;
  height: fit-content;
  padding: 0 150px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 160px 0 50px 60px;
  grid-template-areas:
    "nav nav nav nav"
    ". . . ."
    "socials socials socials socials"
    "foot foot foot foot";

  nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    grid-area: nav;

    & > div{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;

      h1{
        margin: 0 0 7px;
        font-family: Concert One;
        color: #144A8F;
      }
      a{
        font-family: Alata;
        font-weight: 1000;
        color: #2A66AA;
      }
    }
  }
  .wrapper{
    grid-area: socials;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;

    a{
      font-family: Alata;
      font-weight: 1000;
      border-radius: 50%;
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
      filter: invert(20%) sepia(89%) saturate(1488%) hue-rotate(196deg) brightness(92%) contrast(91%);

      &:nth-child(1){
        background-image: url("/media/icons/github.png");
      }
      &:nth-child(2){
        background-image: url("media/icons/reddit.png");
      }
      &:nth-child(3){
        background-image: url("media/icons/steam.png");
      }
      &:nth-child(4){
        background-image: url("media/icons/discord.png");
      }
    }
  }
  .foot{
    width: 100%;
    grid-area: foot;

    .spacer{
      width: 100%;
      height: 5px;
      background-color: #144A8F;
      border-radius: 2px;
    }
    .row{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1{
        font-family: Russo One;
        color: #144A8F;
        margin: 10px 0;
      }
      a{
        margin: 10px 0;
        padding: 5px 15px;
        background-color: #144A8F;
        color: white;
        border-radius: .3em;
      }
    }
  }
}
.center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes chevron {
  0%{
    height: 50px;
    width: 50px;
    opacity: 0.3;
  }
  30%{
    height: 60px;
    width: 60px;
    opacity: 1;
  }
  60%{
    height: 50px;
    width: 50px;
    opacity: 0.3;
  }
  100%{
    height: 50px;
    width: 50px;
    opacity: 0.3;
  }
}

//projects wrap
@media only screen and (max-width: 1100px) {
  .projects{
    .contents{
      .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 35px;

        .wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &:nth-child(1){
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }
          &:nth-child(2){
            grid-column: 1 / 2;
            grid-row: 2 / 3;
          }
          &:nth-child(3){
            grid-column: 1 / 2;
            grid-row: 3 / 4;
          }
          &:nth-child(4){
            grid-column: 1 / 2;
            grid-row: 4 / 5;
          }
        }
      }
    }
  }
}
//really small window about wrap
@media only screen and (max-width: 1300px) {
  .about{
    div.section#hobby, div.section#motivation{
      .center{
        grid-column: 2 / 10;
        grid-row: 2 / 3;
        margin: 30px 0 0;
      }
      .text{
        grid-column: 2 / 10;
        grid-row: 1 / 2;
        text-align: center;

        h1{
          width: 100%;
        }
      }
    }
    #whyme{
      .text{
        text-align: center;
        width: 80% !important;

        h1{
          width: 100% !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .about{
    div.section{
      height: fit-content;
      margin: 0 0 75px;
      display: grid;
      grid-template-columns: repeat(10, 1fr);

      .center{
        grid-column: 3 / 9 !important;
        grid-row: 2 / 3 !important;
        margin: 30px 0 0;

        .img{
          height: 293px;
          width: 186px;
        }
      }
      .text{
        grid-column: 2 / 10 !important;
        grid-row: 1 / 2 !important;
        text-align: center !important;

        h1{
          width: 100%;
        }
      }
    }
    div.section#hobby, div.section#motivation{
      .center{
        .img{
          width: 293px !important;
          height: 186px !important;
        }
      }
    }
  }
}
//navbar scroll
@media only screen and (max-height: 400px) and (min-device-height: 400px) {
  nav.navbar{
    ul.navigation{
      height: 400px !important;
      width: initial;
      max-height: 100vh;
      overflow: auto;

      a{
        margin: 0 0 15px !important;
      }
      .align_end{
        margin: 100px 0 !important;
      }
    }
  }
}
//footer
@media only screen and (max-width: 700px) {
  .footer{
    grid-template-rows: 500px 20px 60px 60px !important;
  }
  .footer nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-area: nav;

    div{
      width: fit-content;
      margin: 0 auto 30px;
    }
  }
}

//small screens
@media only screen and (max-device-width: 500px) {
  nav.navbar{
    input{
      display: none;

      &:checked ~ ul{
        display: flex !important;
        z-index: 10;
        opacity: 1;
        transform: translateX(0%);

        & .align_end{
          display: flex;
        }
        & h4{
          display: initial;
        }
      }
      & ~ label{
        z-index: 5;
        height: 50px;
        width: 50px;
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        cursor: pointer;
        margin-right: 10px;

        div{
          position: relative;
          margin: 5px 0;
          height: 7px;
          border-radius: 5em;
          width: 100%;
          background-color: white;
        }
      }
    }
    span.logo{
      font-size: 2rem;
      margin-left: 2vw;
    }
    ul.navigation{
      transition: opacity .4s;
      opacity: 0;
      transform: translateX(100%);
      padding: 100px 0 0;
      z-index: 1;
      position: fixed;
      right: 0;
      top: 0;
      width: 300px;
      height: calc(100vh - 100px);
      background-color: white;
      border-radius: .5em;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;

      label.close{
        display: block;
        height: 40px;
        width: 40px;
        position: fixed;
        top: 20px;
        right: 10px;
        cursor: pointer;

        div{
          width: 100%;
          height: 6px;
          background-color: #144A8F;
          border-radius: .5em;
          transform: translate(-50%, -50%) rotate(45deg);
          position: absolute;
          left: 50%;
          top: 50%;

          &:nth-child(2){
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
      a{
        font-size: 1.6rem;
        margin-bottom: 1rem;
        color: #144A8F;
      }
      .align_end{
        margin-top: auto;
        padding-bottom: 20px;

        .grid{
          display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: 1fr;
          width: 100%;
          padding: 0 15px;
          gap: 15px;

          a{
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #144A8F;
            color: white !important;
            border-radius: .5em;
          }
        }
      }
    }
    ul ~ a{
      display: none;
    }
  }
  .home{
    .wrapper{
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 85vh;
      min-height: 600px;
      max-height: 1000px;

      .chevronscroll{
        margin-top: 5vh;
      }
      .text_left{
        align-self: flex-start;

        h1{
          font-size: 3rem;
        }
        h2{
          font-size: 1rem;
        }
      }
    }
  }
  .about{
    .section:not(#motivation), .section:not(#hobby){
      grid-template-rows: 1fr 330px !important;

      .center{
        margin-top: 30px;
      }
    }
    .section#motivation, .section#hobby{
      grid-template-rows: 1fr 250px !important;

      .center{
        grid-column: 2 / 10 !important;
        grid-row: 2 / 3 !important;
      }
    }
    h1{
      font-size: 3rem;
    }
  }
  .contact{
    h1{
      font-size: 3rem;
    }
    h3{
      font-size: 1.4rem;
    }
    a{
      font-size: 1rem;
    }
  }
  .projects{
    .contents{
      h1{
        font-size: 3rem;
        margin: 0 0 30px;
      }
      .grid{
        .wrapper{
          .project{
            padding: 15px;
            height: 200px;
            width: 300px;

            .header{
              h3{
                font-size: 1.6rem;
              }
            }
            p{
              font-size: .8rem;
            }
            .type{
              div::after{
                font-size: 0.4rem;
              }
            }
          }
        }
      }
    }
  }
  div.footer{
    padding: 0 10px;
  }
}
//small window
@media only screen and (max-width: 1000px) and (min-device-width: 500px) {
  nav.navbar{
    input{
      display: none;

      &:checked ~ ul{
        display: flex !important;
        z-index: 10;
        opacity: 1;
        transform: translateX(0%);
        transition: opacity .4s;

        & .align_end{
          display: flex;
        }
        & h4{
          display: initial;
        }
      }
      & ~ label{
        z-index: 5;
        height: 50px;
        width: 50px;
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        cursor: pointer;
        margin-right: 10px;

        div{
          position: relative;
          margin: 5px 0;
          height: 7px;
          border-radius: 5em;
          width: 100%;
          background-color: white;
        }
      }
    }
    span.logo{
      font-size: 2rem;
      margin-left: 2vw;
    }
    ul.navigation{
      transition: opacity .4s;
      opacity: 0;
      transform: translateX(100%);
      padding: 100px 0 0;
      z-index: 1;
      position: fixed;
      right: 0;
      top: 0;
      width: 300px;
      height: calc(100vh - 100px);
      background-color: white;
      border-radius: .5em;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;

      h4{
        top: -13px;
      }
      label.close{
        display: block;
        height: 25px;
        width: 25px;
        position: fixed;
        top: 20px;
        right: 10px;
        cursor: pointer;

        div{
          width: 100%;
          height: 4px;
          background-color: #144A8F;
          border-radius: .5em;
          transform: translate(-50%, -50%) rotate(45deg);
          position: absolute;
          left: 50%;
          top: 50%;

          &:nth-child(2){
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
      a{
        font-size: 1.3rem;
        margin-bottom: 3vh;
        color: #144A8F;
      }
      .align_end{
        margin-top: auto;
        padding-bottom: 15px;

        .grid{
          display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: 1fr;
          width: 100%;
          padding: 0 15px;
          gap: 15px;

          a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #144A8F;
            color: white !important;
            border-radius: .5em;
            font-size: 1rem;
          }
        }
      }
    }
    ul ~ a{
      display: none;
    }
  }
  .home{
    .wrapper{
      .text_left{
        h1{
          font-size: 3.5rem;
        }
        h2{
          font-size: 1.2rem;
        }
      }
    }
  }
  .about{
    div.section{
      height: fit-content;
      margin: 0 0 150px;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: 1fr;

      .center{
        grid-column: 1 / 5;
        grid-row: 1 / 2;

        .img{
          height: 293px;
          width: 186px;
        }
      }
      .text{
        grid-column: 5 / 10;
      }
    }
  }
  div.footer{
    padding: 0 50px;
  }
}
//large window
@media only screen and (min-width: 1000px) {
  nav.navbar{
    input{
      display: none;

      & ~ label{
        display: none;
      }
    }
    span.logo{
      font-size: 3vw;
      margin-left: 1vw;
    }
    ul{
      order: 2;

      label{
        display: none;
      }
      a{
        font-size: 1.8vw;
      }
    }
    ul ~ a{
      order: 3;
      order: 2;
      padding: 10px 15px;
      border-radius: .5em;
      font-size: 1.3vw;
      margin-right: 1vw;
    }
  }
  .home{
    .wrapper{
      .text_left{
        h1{
          font-size: 5vw;
        }
        h2{
          font-size: 1.7vw;
        }
      }
    }
  }
}

//only pc
@media only screen and (min-device-width: 450px) {
  .about .section .center .img:hover{
    transform: scale(1.03);
  }
}

//project images
.projects .contents .grid #projectnevah .project .overlay::before{
  background-image: url("media/pictures/nevah5.com.jpg");
}
.projects .contents .grid #projectdiscoin .project .overlay::before{
  background-image: url("media/pictures/discoin.png");
}
.projects .contents .grid #projectcheckmk .project .overlay::before{
  background-image: url("https://github.com/Nevah5/DockerMonitoring/raw/images/7.png");
}
.projects .contents .grid #projectgeeler .project .overlay::before{
  background-image: url("media/pictures/geeler.net.png");
}