@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Ubuntu:wght@400;700&display=swap");
:root {
  --white: #ecf4ff;
  --palette1: #4C89E1;
  --palette2: #284BB8;
  --palette3: #1C3684;
  --black: #000104;
}

body,
html {
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--white);
}

.nvbar {
  position: fixed;
  min-width: 50px;
  width: 5vw;
  max-width: 100px;
  height: 100vh;
  background-color: var(--white);
  border-right: solid 3px var(--palette3);
  z-index: 100;
  -webkit-transition: .5s;
  transition: .5s;
}

.nvbar:hover {
  min-width: 200px;
  width: 20vw;
  max-width: 400px;
}

.section-circle-after {
  background-color: var(--palette3);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 9vh;
  width: 100%;
  height: 60vh;
  padding-bottom: 14vw;
  background-attachment: fixed;
  -webkit-clip-path: circle(200vh at 50% -125vh);
          clip-path: circle(200vh at 50% -125vh);
  background-image: url("jon.jpeg");
  background-image: radial-gradient(var(--palette1) 0.5px, transparent 0.5px), radial-gradient(var(--palette1) 0.5px, var(--palette3) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.section-circle-after .wrapper-align {
  margin-left: 15vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section-circle-after .wrapper-right {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 2vw;
  width: 90px;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section-circle-after .wrapper-right div {
  position: relative;
  height: 4vw;
  width: 4vw;
}

.section-circle-after .wrapper-right div::after {
  -webkit-animation: chevronscrolldown 4s infinite backwards ease-in-out;
          animation: chevronscrolldown 4s infinite backwards ease-in-out;
}

.section-circle-after .wrapper-right div:nth-child(2)::after {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.section-circle-after .wrapper-right div:nth-child(3)::after {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.section-circle-after .wrapper-right div:nth-child(4)::after {
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.section-circle-after .wrapper-right div:nth-child(5)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 80vw;
      grid-template-areas: "box1 box2 box3" "box1 box4 box4" "box5 box5 box6";
  gap: 15px;
}

.section-grid div {
  border-radius: .6em;
  background-attachment: fixed;
  background-image: radial-gradient(var(--palette1) 0.5px, transparent 0.5px), radial-gradient(var(--palette1) 0.5px, var(--palette3) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  position: relative;
  padding: 15px 45px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1;
}

.section-grid div h1 {
  margin: 5px 0;
  font-family: Oswald;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.section-grid div span {
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-family: Ubuntu;
  font-weight: 400;
  width: 100%;
}

.section-grid div:hover {
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  z-index: 10;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.section-grid div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: box1;
}

.section-grid div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box2;
}

.section-grid div:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: box3;
}

.section-grid div:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: box4;
}

.section-grid div:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: box5;
}

.section-grid div:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: box6;
}

.wrapper-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50vh;
}

.wrapper-about .about-text {
  width: 30vw;
  margin-right: 10vw;
  max-width: 50vw;
}

.wrapper-about .about-text .title-medium {
  color: var(--palette3);
}

.wrapper-about .about-text .divider {
  width: 30%;
  background-color: var(--palette3);
  height: 2px;
}

.wrapper-about .about-text p {
  font-size: 1.5vw;
}

@-webkit-keyframes chevronscrolldown {
  0% {
    height: 3vw;
    width: 3vw;
    opacity: 0.8;
  }
  25% {
    height: 3vw;
    width: 3vw;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
    height: 4vw;
    width: 4vw;
  }
  75% {
    height: 3vw;
    width: 3vw;
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
    height: 3vw;
    width: 3vw;
  }
}

@keyframes chevronscrolldown {
  0% {
    height: 3vw;
    width: 3vw;
    opacity: 0.8;
  }
  25% {
    height: 3vw;
    width: 3vw;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
    height: 4vw;
    width: 4vw;
  }
  75% {
    height: 3vw;
    width: 3vw;
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
    height: 3vw;
    width: 3vw;
  }
}

.wrapper-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
  margin-left: auto;
}

.title-large {
  margin: 0;
  color: var(--white);
  font-family: Oswald;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 6vw;
}

.title-medium {
  margin: 0;
  font-family: Oswald;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4vw;
}

.unsorted-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.unsorted-list li {
  font-size: 1.6vw;
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.f-ubuntu {
  font-family: Ubuntu;
  font-weight: 400;
}

#scroll-chevron-down::after {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: var(--white);
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 40%, 50% 90%, 0 40%);
          clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 40%, 50% 90%, 0 40%);
}

.c-darkblue {
  color: var(--palette3);
}

.link-button-blue {
  padding: 7px 15px;
  border-radius: .5em;
  background-color: var(--palette3);
  color: var(--white);
  font-family: Ubuntu;
  text-decoration: none;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */