@import url('https://fonts.googleapis.com/css2?family=Alata&family=Concert+One&family=Russo+One&display=swap');

/**
 * Big Titles - Russo One
 * Important Text - Concert One
 * Text - Alata
 */

html, body{
  margin: 0;
  padding: 0;
}

a{
  font-family: Concert One;
  text-decoration: none;
}
nav.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 70px;
  height: 10vh;
  max-height: 90px;
  background-color: transparent;

  span.logo{
    color: white;
    font-family: Russo One;
    order: 1;
  }
  ul{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

    a{
      color: white;
    }
  }
  ul ~ a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    mix-blend-mode: screen;

    li{
      width: fit-content;
      height: fit-content;
      display: block;
    }
  }
}
.home{
  position: relative;

  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    min-height: 800px;
    max-height: 1100px;

    .text_left{
      width: fit-content;
      margin-left: 3vw;

      h1, h2{
        color: white;
        width: fit-content;
        margin: 0;
        padding: 0;
      }
      h1{
        font-family: Russo One;
      }
      h2{
        font-family: Alata;
      }
    }
    .chevronscroll{
      position: relative;
      width: 60px;
      height: 230px;
      margin-right: 3vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;

      .chevron{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 60px;

        &:nth-child(1)::after{
          animation: chevron 4s backwards infinite ease-in-out;
        }
        &:nth-child(2)::after{
          animation: chevron 4s .5s backwards infinite ease-in-out;
        }
        &:nth-child(3)::after{
          animation: chevron 4s 1s backwards infinite ease-in-out;
        }
        &:nth-child(4)::after{
          animation: chevron 4s 1.5s backwards infinite ease-in-out;
        }
        &:nth-child(5)::after{
          animation: chevron 4s 2s backwards infinite ease-in-out;
        }
        &:nth-child(6)::after{
          animation: chevron 4s 2.5s backwards infinite ease-in-out;
        }

        &::after{
          display: block;
          content: '';
          background-color: white;
          clip-path: polygon(0 0, 30% 0, 50% 30%, 70% 0, 100% 0, 50% 70%);
          height: 60px;
          width: 60px;
        }
      }
    }
  }
  img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    min-height: 100%;
    width: auto;
    min-width: 100%;
  }
}

@keyframes chevron {
  0%{
    height: 50px;
    width: 50px;
    opacity: 0.3;
  }
  30%{
    height: 60px;
    width: 60px;
    opacity: 1;
  }
  60%{
    height: 50px;
    width: 50px;
    opacity: 0.3;
  }
  100%{
    height: 50px;
    width: 50px;
    opacity: 0.3;
  }
}


//small screens
@media only screen and (max-device-width: 500px) {
  nav.navbar{
    input{
      display: none;

      &:checked ~ ul{
        display: flex !important;
        z-index: 10;
        opacity: 1;
        transform: translateX(0%);
      }
      & ~ label{
        z-index: 5;
        height: 50px;
        width: 50px;
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        cursor: pointer;
        margin-right: 10px;

        div{
          position: relative;
          margin: 5px 0;
          height: 7px;
          border-radius: 5em;
          width: 100%;
          background-color: white;
        }
      }
    }
    span.logo{
      font-size: 2rem;
      margin-left: 2vw;
    }
    ul.navigation{
      transition: opacity .4s, transform .4s;
      opacity: 0;
      transform: translateX(100%);
      padding: 100px 0;
      z-index: 1;
      position: fixed;
      right: 0;
      top: 0;
      width: 300px;
      height: calc(100vh - 200px);
      background-color: white;
      border-radius: .5em;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;

      label.close{
        display: block;
        height: 40px;
        width: 40px;
        position: fixed;
        top: 20px;
        right: 10px;
        cursor: pointer;

        div{
          width: 100%;
          height: 6px;
          background-color: blue;
          border-radius: .5em;
          transform: translate(-50%, -50%) rotate(45deg);
          position: absolute;
          left: 50%;
          top: 50%;

          &:nth-child(2){
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
      a{
        font-size: 1.6rem;
        margin-bottom: 1rem;
        color: blue;
      }
    }
    ul ~ a{
      display: none;
    }
  }
  .home{
    .wrapper{
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 75vh;
      min-height: 500px;
      max-height: 1000px;

      .chevronscroll{
        margin-top: 5vh;
      }
      .text_left{
        align-self: flex-start;

        h1{
          font-size: 3rem;
        }
        h2{
          font-size: 1rem;
        }
      }
    }
  }
}
//small window
@media only screen and (max-width: 1000px) and (min-device-width: 500px) {
  nav.navbar{
    input{
      display: none;

      &:checked ~ ul{
        display: flex !important;
        z-index: 10;
        opacity: 1;
        transform: translateX(0%);
      }
      & ~ label{
        z-index: 5;
        height: 50px;
        width: 50px;
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        cursor: pointer;
        margin-right: 10px;

        div{
          position: relative;
          margin: 5px 0;
          height: 7px;
          border-radius: 5em;
          width: 100%;
          background-color: white;
        }
      }
    }
    span.logo{
      font-size: 2rem;
      margin-left: 2vw;
    }
    ul.navigation{
      transition: opacity .4s, transform .4s;
      opacity: 0;
      transform: translateX(100%);
      padding: 100px 0;
      z-index: 1;
      position: fixed;
      right: 0;
      top: 0;
      width: 300px;
      height: calc(100vh - 200px);
      background-color: white;
      border-radius: .5em;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;

      label.close{
        display: block;
        height: 25px;
        width: 25px;
        position: fixed;
        top: 20px;
        right: 10px;
        cursor: pointer;

        div{
          width: 100%;
          height: 4px;
          background-color: blue;
          border-radius: .5em;
          transform: translate(-50%, -50%) rotate(45deg);
          position: absolute;
          left: 50%;
          top: 50%;

          &:nth-child(2){
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
      a{
        font-size: 1.3rem;
        margin-bottom: 3vh;
        color: blue;
      }
    }
    ul ~ a{
      display: none;
    }
  }
  .home{
    .wrapper{
      .text_left{
        h1{
          font-size: 3.5rem;
        }
        h2{
          font-size: 1.2rem;
        }
      }
    }
  }
}
//large window
@media only screen and (min-width: 1000px) {
  nav.navbar{
    input{
      display: none;

      & ~ label{
        display: none;
      }
    }
    span.logo{
      font-size: 3vw;
      margin-left: 1vw;
    }
    ul{
      order: 2;

      label{
        display: none;
      }
      a{
        font-size: 1.8vw;
      }
    }
    ul ~ a{
      order: 3;
      order: 2;
      padding: 10px 15px;
      border-radius: .5em;
      font-size: 1.3vw;
      margin-right: 1vw;
    }
  }
  .home{
    .wrapper{
      .text_left{
        h1{
          font-size: 5vw;
        }
        h2{
          font-size: 1.7vw;
        }
      }
    }
  }
}