@import url("https://fonts.googleapis.com/css2?family=Alata&family=Concert+One&family=Russo+One&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

html > form, body > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 50px;
}

div#langs {
  margin-top: 50px;
}

div#langs a {
  background-color: #1448a1;
  color: white;
  padding: 10px 20px;
  border-radius: .5em;
  font-family: Alata;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 15px;
}

div#langs a#selected {
  background-color: #7b98c9;
  cursor: not-allowed;
}

div#compile {
  border-top: #1448a1 solid 3px;
  margin-top: 50px;
  padding: 50px 0;
  border-bottom: dashed #1448a1 3px;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div#compile a {
  background-color: #1448a1;
  color: white;
  padding: 5px 10px;
  border-radius: .5em;
  font-family: Alata;
  text-decoration: none;
  margin: 5px 15px;
}

div:not(#compile) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div:not(#compile) h1 {
  width: 100%;
  padding: 0 0 10px;
  margin-top: 50px;
  text-align: center;
  font-family: Russo One;
  color: #1448a1;
  border-bottom: #1448a1 solid 3px;
}

div:not(#compile) h1 a {
  font-family: Alata;
  color: #1448a1;
  text-decoration: none;
}

div:not(#compile) form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

div:not(#compile) form h3 {
  margin-top: 30px 0 10px;
  font-family: Concert One;
  color: #1448a1;
}

div:not(#compile) form textarea {
  display: block;
  resize: vertical;
  height: auto;
  width: 300px;
  margin: 0 40px 0;
  font-family: Alata;
  color: #1448a1;
  border: #1448a1 solid 1px;
  outline: none;
}

div:not(#compile) form label#submitbtn {
  padding: 5px 10px;
  background-color: #1448a1;
  color: white;
  font-family: Alata;
  border-radius: .5em;
  cursor: pointer;
  margin: 10px 0 30px;
}

div:not(#compile) form input[type="submit"] {
  display: none;
}
/*# sourceMappingURL=style.css.map */