div.footer{
  position: relative;
  width: auto;
  height: fit-content;
  padding: 0 150px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 160px 0 50px 60px;
  grid-template-areas:
    "nav nav nav nav"
    ". . . ."
    "socials socials socials socials"
    "foot foot foot foot";

  nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    grid-area: nav;

    & > div{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;

      h1{
        margin: 0 0 7px;
        font-family: Concert One;
        color: #144A8F;
      }
      a{
        font-family: Alata;
        font-weight: 1000;
        color: #2A66AA;
      }
    }
  }
  .wrapper{
    grid-area: socials;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;

    a{
      font-family: Alata;
      font-weight: 1000;
      border-radius: 50%;
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
      filter: invert(20%) sepia(89%) saturate(1488%) hue-rotate(196deg) brightness(92%) contrast(91%);

      &:nth-child(1){
        background-image: url("/media/icons/github.png");
      }
      &:nth-child(2){
        background-image: url("/media/icons/reddit.png");
      }
      &:nth-child(3){
        background-image: url("/media/icons/steam.png");
      }
      &:nth-child(4){
        background-image: url("/media/icons/twitter.png");
      }
      &:nth-child(5){
        background-image: url("/media/icons/stack-overflow.png");
      }
    }
  }
  .foot{
    width: 100%;
    grid-area: foot;

    .spacer{
      width: 100%;
      height: 5px;
      background-color: #144A8F;
      border-radius: 2px;
    }
    .row{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1{
        font-family: Russo One;
        color: #144A8F;
        margin: 10px 0;
      }
      span{
        font-family: Alata;
        color: #144A8F;
      }
      a{
        margin: 10px 0;
        padding: 5px 15px;
        background-color: #144A8F;
        color: white;
        border-radius: .3em;
      }
      a.user{
        padding: 5px 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        .image{
          height: 16px;
          width: 16px;
          display: block;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
        }
        span{
          color: white;
          font-family: Alata;
          align-self: center;
          margin-left: 5px;
          max-width: 100px;
          font-size: .8rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
//footer
@media only screen and (max-width: 700px) {
  .footer{
    grid-template-rows: 500px 20px 60px 60px !important;
  }
  .footer nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-area: nav;

    div{
      width: fit-content;
      margin: 0 auto 30px;
    }
  }
}
@media only screen and (max-device-width: 500px){
  div.footer{
    padding: 0 10px;
  }
}
//small window
@media only screen and (max-width: 1000px) and (min-device-width: 500px) {
  div.footer{
    padding: 0 50px;
  }
}