@import url('https://fonts.googleapis.com/css2?family=Alata&family=Concert+One&family=Russo+One&display=swap');
@import url("/media/styles/footer.css");

html, body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a{
  font-family: Concert One;
  text-decoration: none;
}

a.logo{
  margin-top: 1vh;

  span{
    font-family: Russo One;
    font-size: 3rem;
    padding-left: 1vw;
    color: #144A8F;
  }
}
div#error::before{
  content: '';
  display: block;
  height: 20vh;
  width: 100%;
  background-color: #144A8F;
  position: absolute;
  top: 0;
  transform: translateY(0.5px);
  clip-path: polygon(-1% -1%, -1% 101%, 101% 101%);
}
div#error{
  margin-top: 10vh;
  position: relative;
  padding: 20vh 0;
  height: fit-content;

  .content{
    background-color: #144A8F;
    width: 100%;

    h2{
      margin: 0;
      text-align: center;
      font-family: Russo One;
      font-size: 3.3rem;
      color: white;
    }
    .wrapper{
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;

      .box{
        border: white solid 2px;
        background-color: white;
        padding: 70px 100px;
        margin: 50px 0 30px;
        border-radius: .5em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        min-width: 400px;
        transition: all .5s;

        .grid{
          display: grid;
          width: 100%;
          grid-template-columns: 40px 10px 1fr;
          grid-template-rows: 10px 5px 1fr;

          &:not(:first-child){
            margin-top: 30px;
          }

          label:not(#submitbtn){
            font-family: Alata;
            color: #144A8F;
            font-size: 0.8rem;
            grid-column: 2/3;
            grid-row: 1/2;
            width: fit-content;
            white-space: nowrap;
          }
          div{
            font-size: 0.8rem;
            grid-column: 1/4;
            grid-row: 3/4;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            input:not([type="submit"]){
              border: none;
              border-bottom: solid #144A8F 2px;
              outline: none;
              color: #144A8F;
              font-family: Alata;
              width: 100%;
              height: 75%;
              margin-left: 15px;
              transition: border .5s;
            }
            @mixin icon {
              content: '';
              display: inline-block;
              height: 24px;
              width: 24px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              transition: filter .5s;
              filter: invert(20%) sepia(45%) saturate(2999%) hue-rotate(200deg) brightness(93%) contrast(90%);
            }
            i#email::before{
              @include icon();
              background-image: url("/media/icons/email.png");
            }
            i#emailrep::before{
              @include icon();
              background-image: url("/media/icons/emailrep.png");
            }
            i#pw::before{
              @include icon();
              background-image: url("/media/icons/padlock.png");
            }
            i#pwrep::before{
              @include icon();
              background-image: url("/media/icons/padlockrep.png");
            }
            i#empty::before{
              @include icon();
            }
            i#user::before{
              @include icon();
              background-image: url("/media/icons/user.png");
            }
          }
        }
        span{
          font-size: .8rem;
          font-family: Alata;
          color: #b34040;
        }
        label#submitbtn{
          align-self: center;
          margin-top: 20px;
          padding: 6px 30px;
          background-color: #144A8F;
          color: white;
          font-family: Alata;
          border-radius: .5em;
          cursor: pointer;
        }
        input[type="submit"]{
          display: none;
        }
      }
    }
  }
}
div#error::after{
  content: '';
  display: block;
  height: 20vh;
  width: 100%;
  background-color: #144A8F;
  position: absolute;
  bottom: 0;
  transform: translateY(-0.5px);
  clip-path: polygon(-1% -1%, 101% 101%, 101% -1%);
}

@media only screen and (max-width: 700px) {
  a span{
    padding-left: 10px !important;
  }
  form{
    .content{
      .wrapper{
        .box{
          padding: 50px 30px;
          margin: 50px 0 30px;
          width: 300px;
          min-width: 300px;
        }
      }
    }
  }
}
@media only screen and (max-device-width: 500px) {
  form{
    .content{
      .wrapper{
        .box{
          padding: 50px 30px;
          margin: 30px 0 30px;
          width: 240px;
          min-width: 240px;
        }
      }
    }
  }
}