:root{
    --white1: #1a1a2e;
    --white2: #16213e;
    
    --logo1: #567bd1;
    --logo2: #5c81dd;
    --logo3: #436bce;
    --logo4: #6481CA;
    --logo5: #617dc5;
    --logo6: #7c94d1;

    --honey: honeydew;

    --important: #e63232;
    --sucess: #33df41;

    --devbg: rgba(10, 10, 10, 0.4);

    --standart_font:Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
    font-family: logo;
    src: url("media/fonts/Pervitina-Dex-FFP.ttf");
}

p#error{
    font-family: var(--standart_font);
    color: var(--important);
    font-weight: 1000;
}.body #information{
    border: var(--important) solid 3px;
    color: var(--important);
    font-family: var(--standart_font);
    background-color: var(--white1);
    text-shadow: var(--logo6) 0 0 20px;
}.body #information2{
    border: var(--sucess) solid 3px;
    color: var(--sucess);
    font-family: var(--standart_font);
    background-color: var(--white1);
}

.statistics{
    font-family: var(--standart_font);
    color: var(--logo2);
    background-color: var(--white2);
    border: var(--logo2) solid 3px;
}